body{
    background-color: bisque;
}

body {
    font-family: Arial, sans-serif;
}

#contenedor-recetas {
    margin-bottom: 20px;
}

#recetas {
    margin-top: 20px;
}

.receta {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.receta h2 {
    margin-top: 0;
}

.receta ul {
    margin-bottom: 0;
}

.receta li {
    list-style-type: none;
}

